/* Google Fonts */
body {
    background-color: darkslateblue;
}

.carousel-caption {
    font-family: 'Goudy Bookletter 1911', serif !important;
}

p {
    font-family: Mate, serif !important;
}

h1,h2 {
    font-family: 'Unna', serif !important;
}

#wish {
    /* background-image: url(../img/Dandelion\ Wish.jpg) */
    /* Image with shade gradient */
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/Dandelion\ Wish.jpg);

}
 
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

i {
    position: center;
    padding: 1rem;
}