/* Google Fonts */


.carousel-caption {
    font-family: 'Goudy Bookletter 1911', serif !important;
}

p {
    font-family: Mate, serif !important;
}

h1,h2 {
    font-family: 'Unna', serif !important;
}